/* CarDetailComponent.css */
.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #000;
}
