.cluster {
    display: flex;
    flex-direction: column;
}

.titleText {
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

button {
    margin-right: 10px;
    padding: 8px 15px;
}

.customButton {
    background-color: #00070e;
    color: rgb(15, 3, 3);
}

.customButton:hover {
    background-color: #0A2342;  
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline: none;
}

.modalContent h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modalContent form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}